<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
    <!-- Load polyfills to support older browsers -->
    <script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>
    <!-- Load Vue followed by BootstrapVue -->
    <script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/emailjs@2.2.0/email.min.js"></script>
    <!-- Load the following for BootstrapVueIcons support -->
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css"/>    
    <link rel="stylesheet" href="./style/style.css">
    <title>Nectar</title>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
<div id="app">
    
  <div class=" navbar navbar-light fixed-top">
      <div class="container">
        <img class="img-logo" src="./src/logo.png" alt="Logo de nectar">
      </div>
    </div>

    <div class="jumbotron jumbotron-fluid height100p producto" id="home">
      <div class="container h100">
        <div class="contentBox h100">
          <div class="row">
            <div class="col-sm-6">
              <img class="img-matri" src="./src/salva-matrimonio.png" alt="img-venta">
              <h1 style="font-style: 'Alfa Slab One', cursive; color: darkgoldenrod; font-size: xx-large; ">USD$ 67,00.</h1>
              <h1 style="font-style: 'Alfa Slab One', cursive; color: darkgoldenrod; text-decoration: line-through; font-size: medium; ">USD$ 150,00.</h1>
            </div>
            <div class="col-sm-6 col-dos">
              <h1 data-aos="fade-up"
              data-aos-delay="10"
              data-aos-duration="5000">Salva tu Matrimonio</h1>
              <p>Salva Tu Matrimonio Para Siempre es un método práctico Paso-a-Paso, con “tareas” simples que deberás cumplir para solucionar los problemas y reconstruir tu matrimonio.</p>
                <b-button href="https://go.hotmart.com/U26021585C" variant="warning">Obtener el Producto</b-button>
                <p></p>
                <b-button href="#explore" variant="success">Obtener demo Gratis</b-button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="sec1">
      <div class="container">
        <div class="row">
          <div class="offset-sm-2 col-sm-8">
            <div class="headerText text-center">
              <!-- <h1></h1> -->
              <p>¿por que confiar en nosotros?</p>
            </div>
          </div>
        </div>
        <div class="row">
            <div data-aos="fade-up"
              data-aos-delay="500"
             data-aos-duration="1000" class="col-sm-4">
             <div class="place-box2">
              <div  class="imgBx">
                <img src="src/sec.png " class="img-fluid">
              </div>
              <div class="content">
                <h3 style="font-family: 'Alfa Slab One', cursive;" class="text-center">Seguridad</h3>
              </div>
             </div>
            </div>
          <div data-aos="fade-up"
          data-aos-delay="700"
          data-aos-duration="1000" class="col-sm-4">
              <div class="place-box2">
                <div  class="imgBx">
                    <img src="src/fast.png " class="img-fluid">
                  </div>
                  <div class="content">
                    <h3 style="font-family: 'Alfa Slab One', cursive;" class="text-center">Rapidez</h3>
                  </div>
              </div>
            </div>
          <div data-aos="fade-up"
          data-aos-delay="900"
          data-aos-duration="1000" class="col-sm-4">
          <div class="place-box2">
            <div  class="imgBx">
              <img src="src/home.png " class="img-fluid">
            </div>
            <div class="content">
              <h3 style="font-family: 'Alfa Slab One', cursive;" class="text-center">Comodidad</h3>
            </div>
          </div>
          </div>
        </div>
      </div>
    </section>

    <section class="sec1" id="explore">
      <div class="container">
        <div class="row">
          <div class="offset-sm-2 col-sm-8">
            <div class="headerText text-center">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3"></div>
          <div class="col-sm-6">
            <h2 class="text-center" style="font-style: 'Alfa Slab One', cursive; color: darkgoldenrod; font-size: xx-large;">Obtener Demo GRATIS</h2>
            <div class="formu">
              <form>
                <div class="form-group">
                  <label for="exampleInputEmail1">Nombre</label>
                  <input type="text" class="form-control" id="exampleInputName" aria-describedby="nameHelp" v-model="from_name">
                  <small id="nameHelp" class="form-text text-muted">Obtendra la demo del producto, y ofertas por temporada</small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Correo</label>
                  <input type="email" class="form-control" id="exampleInputEmail">
                </div>
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1" v-model="from_email">
                  <label class="form-check-label" for="exampleCheck1">Acepto los terminos y condiciones</label>
                </div>
                <button @click="enviar" class="btn btn-primary">Enviar</button>
              </form>
            </div>
          </div>
          <div class="col-sm-3"></div>
        </div>
      </div>
    </section>
    
  
  <section class="sec1" id="explore">
    <div class="container">
      <div class="row">
        <div class="offset-sm-2 col-sm-8">
          <div class="headerText text-center">
            <h1>productos</h1>
            <p>Obtene Descuentos en mas productos</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="placeBox"  data-aos="fade-up"
          data-aos-delay="0"
          data-aos-duration="1000">
            <div class="imgBx">
              <img src="src/dogs-pets.PNG" class="img-fluid">
            </div>
            <div class="content">
              <h3>Training Dogs Pets <br>  <span>Aprende técnicas de adiestramiento</span></h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="placeBox"  data-aos="fade-up"
          data-aos-delay="500"
          data-aos-duration="1000">
            <div class="imgBx">
              <img src="src/educanino.PNG" class="img-fluid">
            </div>
            <div class="content">
              <h3>Educanino<br>  <span>Curso, adiestramiento canino</span></h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="placeBox"  data-aos="fade-up"
          data-aos-delay="1000"
          data-aos-duration="1000">
            <div class="imgBx">
              <img src="src/comunica.png" class="img-fluid">
            </div>
            <div class="content">
              <h3>Aprender a comunicar marca la diferencia<br>  <span>¡Aprender a comunicar marca la diferencia!</span></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="sci text-center">
            <br>
            <p class="cpryt">@ copiright 2020 Productos digitales Nectar</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
  <!-- template -->
 

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vue/dist/vue.min.js"> </script>  
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"> </script>
  <script src="https://cdn.emailjs.com/dist/email.min.js" type="text/javascript"></script>
  
  <script>
    AOS.init();
  </script>
  <script src="./js/main.js"></script>

  </body>
</html>
